.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: $grid-row-gap;

    @include respond(tab-port) {
      margin-bottom: $grid-row-gap-small;
    }
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $grid-col-gap;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $grid-row-gap-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$grid-col-gap}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$grid-col-gap * 2}) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * (100% - #{$grid-col-gap * 2}) / 3 + #{$grid-col-gap});
  }

  .col-1-of-4 {
    width: calc((100% - #{$grid-col-gap * 3}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * (100% - #{$grid-col-gap * 3}) / 4 + #{$grid-col-gap});
  }

  .col-3-of-4 {
    width: calc(3 * (100% - #{$grid-col-gap * 3}) / 4 + #{$grid-col-gap * 2});
  }
}
